{
    "token": "( ͡° ͜ʖ ͡°)",
    "prefix": "!",
    "channelID": "000000000000000000",
    "username": "demonstration",
    "password": "pronotevs",
    "url": "https://demo.index-education.net/pronote/eleve.html?login=true"
}